# ============================================================
# API - arahkan ke API staging dengan prefix /api/v1
# ============================================================
NEXT_PUBLIC_API_URL="https://staging-domain-anda.go.id/api/v1"

# ============================================================
# MONITORING - opsional untuk staging
# ============================================================
NEXT_PUBLIC_SENTRY_DSN=""
SENTRY_DSN=""

# Diperlukan hanya jika upload source maps ke Sentry saat build
SENTRY_ORG=""
SENTRY_PROJECT=""
SENTRY_AUTH_TOKEN=""
